# Global graph generator configuration
# RC: number of resources (processors)
RC 3
# GH: graph height (levels)
GH 6
# TC: total tasks
TC 10
# AOD: average out-degree
AOD 2
# CCR: communication-to-computation ratio
CCR 2.0
# HF: heterogeneity factor [0,1]
HF 0.5
# CDR: communication data range (edge weights)
CDR 1 100
# LBW: link bandwidth range
LBW 10 100
# SEED: RNG seed
SEED 9000
